<div class="top-menu">
 <span class="menu"> </span>
<ul>
 <nav class="cl-effect-5">
 <li><a class="active" href="#home" class="scroll"><span data-hover="Home">home</span></a></li>
 <li><a href="#services" class="scroll"><span data-hover="services">services</span></a></li>
 <li><a href="#work" class="scroll"><span data-hover="work"><span>work</span></a></li>
 <li><a href="#about" class="scroll"><span data-hover="about">about</span></a></li>
 <li><a href="#contact" class="scroll"><span data-hover="contact">contact</span></a></li>
 </nav>
</ul>
</div>
